    body{
        background-color: #EAEAEA;
    }

    .form-title-row{
        color: #4c565e;
        margin-left: 90px;
        margin-bottom: 40px;
    }
    .registration_div input {
        color: #5f5f5f;
        box-sizing: border-box;
        width: 230px;
        box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
        padding: 12px 18px;
        border: 1px solid #dbdbdb;
    }

    .main-content {
        margin-top: 75px;
        margin-bottom: 75px;
        max-width: 2000px;
        text-align: center;
    }

    .form-register{
        max-width: 500px;
        height: 600px;
        margin: 0 auto;
        font: bold 14px sans-serif;
        text-align: center;
        display: inline-block;
        background-color: #fff;
    }

    .registration_div{
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin-right: 130px;
        text-align: center;
    }

    .other_div{
        display: inline-block;
        max-width: 600px;
        width: 600px;
        height: 600px;
        box-sizing: border-box;
        vertical-align: top;
        text-align: center;
        background-color: #fff;
    }

    .registration_div label span {
        display: inline-block;
        box-sizing: border-box;
        color:  #5f5f5f;
        width: 125px;
        text-align: right;
        padding-right: 25px;
    }

    .registration_div button {
        background-color:  #6caee0;
        color: #ffffff;
        font-weight: bold;
        padding: 15px 35px;
        border: 0;
        margin: 30px auto 0;
    }

    .registration_div .form-row{
        margin-bottom: 15px;
    }

    .validation_message_div{
        text-align: left;
        margin-left: 130px;
        margin-top: 5px;
    }


    .validation_message_div span{
        display: none;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    #average_age_btn{
        background-color:  #6caee0;
            color: #ffffff;
            font-weight: bold;
            padding: 8px 20px;
            border: 0;
            margin: 30px auto 0;
            margin-right: 40px;
    }

    #some_funs span{
        box-sizing: border-box;
        color: #5f5f5f;
        width: 125px;
        font: bold 14px sans-serif;
    }

    #some_funs input{
        color: #5f5f5f;
        box-sizing: border-box;
        width: 230px;
        padding: 12px 18px;
        border: 1px solid #dbdbdb;
        box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    }

    #filert_id{
        background-color:  #6caee0;
            color: #ffffff;
            font-weight: bold;
            padding: 8px 20px;
            border: 0;
            margin: 30px auto 0;
                margin-left: 10px;
    }