
<style type="text/css">
	body {
		font-family: Arial, sans-serif;
		background: url(4.jpg);
		background-size: cover;
	}

	h1 {
		text-align: center;
		font-family: Tahoma, Arial, sans-serif;
		color: orange;
		margin: 100px 0;
	}

	.box {
		width: 20%;
		margin: 0 auto;
		background: rgba(255,255,255,0.2);
		padding: 35px;
		border: 2px solid #fff;
		border-radius: 20px/50px;
		background-clip: padding-box;
		text-align: center;
	}

	.button {
		font-size: 1em;
		padding: 10px;
		color: #fff;
		border: 2px solid orange;
		border-radius: 20px/50px;
		text-decoration: none;
		cursor: pointer;
		transition: all 0.3s ease-out;
	}
	.button:hover {
		background: orange;
	}

	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.7);
		transition: opacity 500ms;
		visibility: hidden;
		opacity: 0;
	}
	.overlay:target {
		visibility: visible;
		opacity: 1;
	}

	.popup {
		margin: 70px auto;
		padding: 20px;
		background: #fff;
		border-radius: 5px;
		width: 30%;
		position: relative;
		transition: all 5s ease-in-out;
	}

	.popup h2 {
		margin-top: 0;
		color: #333;
		font-family: Tahoma, Arial, sans-serif;
	}
	.popup .close {
		position: absolute;
		top: 20px;
		right: 30px;
		transition: all 200ms;
		font-size: 30px;
		font-weight: bold;
		text-decoration: none;
		color: #333;
	}
	.popup .close:hover {
		color: orange;
	}
	.popup .content {
		max-height: 30%;
		overflow: auto;
	}




	/*this is top bar*/

	#sbumit_button{
		display:inline-block;
        width:20px;
        height:20px;
	}
    .search-bar__input {
        background: transparent;
		border: 0;
		width: 120;
		height: 40px;
		display: inline-block ;
    }

    #login{
    	color: #333;
    	font-size: 13.5px;
		line-height: 36.4px;
    }

    #signUp{
    	color: #333;
    	font-size: 13.5px;
		line-height: 36.4px;
    }

    .vertical-divider::after {
        content:'|';
        color:#e8e8e8;
        padding:5px;
        visibility:hidden;
    }

    .Sign_and_Login{
    	display: inline-block;
    	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .search_div{
    	display: inline-block;
    	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .shoppingCart{
    	display: inline-block;

    }

    #shoppingCartIcon{
    	width:15px;
        height:15px;
    }

    #cartItemCount{
    	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }


    hr {
        clear:both;
        border-top:solid #e8e8e8;
        border-width:1px 0 0;
        height:0;
    }


}
</style>
	

<style type="text/css">
	/*this is left side bar*/

	li {list-style-type: none;}

	.left_bar{
		width: 23%;
		display: inline-block;
		vertical-align: top;
	}

	.content_div{
		width: 70%;
		height: 100%;
		display: inline-block;
	}

	.show_item_div{
		width: 100%;
		height: 90%;
	}

	.listItemDiv{
		width: 200px;
		height: 300px;
		display: inline-block ;

	}

	.listItemDiv h2{
		font-size: 12px;
		display: inline-block ;
	}

	.listItemDiv label{
		font-size: 11px;
		display: inline-block ;
	}


	.listItemDiv2 h2{
		font-size: 12px;
		display: inline-block ;
	}

	.listItemDiv2 label{
		font-size: 11px;
		display: inline-block ;
	}





	.left_bar hr{
		width: 100%;
	}

	.left_bar label{
		min-height: 48px;
		line-height: 48px;
		font-size: 16px;
		color: #333;
	}

	.left_bar ul{
		margin-left: -15px;
	}

	.book_icon {
		height: 90px;
	}

	.content_div hr {
		margin-left: 20px;
		margin-top: 16px;
	}
</style>


<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>
	<div class="top_bar">

		<div ng-app="myApp02" ng-controller="HttpPutController02" class="search_div">
			<form ng-submit="searchBook()">
				<input id = "sbumit_button" type="image" src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-512.png" border="0" alt="Submit" />
				<input type="search" ng-model="userInput" name="q" class="search-bar__input" value="" placeholder="Search" aria-label="Search">
		          
			</form>
		</div>

		<div class="Sign_and_Login">
			<span class="customer-links small--hide">
		        
		          <a id="login" href="#popup1" >Log in </a>
		          <span class="vertical-divider"></span>
		          <a id="signUp" href="#popup3">Sign up </a>
				  <span class="vertical-divider"></span>
		          <a id="wishList" href="#popup2">WishList </a>
		      </span>	
	    </div>

	    <div class="shoppingCart">
	    	<img id="shoppingCartIcon" src="https://image.flaticon.com/icons/svg/2/2772.svg">
	    	<label id="cartItemCount">(0)</label>
	    </div>

	    <hr class="small--hide hr--border">

	</div>

	<div class="book_icon">
		
	</div>



	<div class="left_bar">
		<ul>
			<li>
				<hr class="small--hide hr--border">
			</li>
			<li>
				<div id="love_id">
					<label>Love</label>
					<hr class="small--hide hr--border">
				</div>
			</li>
			<li>
				<div id ="ju_id">
					<label>Juvenile Fiction</label>
					<hr class="small--hide hr--border">
				</div>
			</li>
			<li>
				<div id="horror_id">
					<label>Horror</label>
					<hr class="small--hide hr--border">
				</div>
			</li>
		</ul>
	</div>


	<div class="content_div">
		<hr class="small--hide hr--border">
		<div class="show_item_div">



		</div>
	</div>





	<div id="popup1" class="overlay">
		<div class="popup">
			<h2>Login</h2>
			<a class="close" href="#">X</a>
			<div class="content">
				<div ng-app="myApp3" ng-controller="HttpPutController3">
					<form ng-submit="UpdateData3()">
						<p>User Name: <input id="user_name" type="text" name="firstName" ng-model="user_name"  /></p>
						<p>Password: <input id ="password" type="text" name="lastName" ng-model="password" /></p>
						<hr />
					</form>
					<input id="loginBtn" type="submit" value="Submit" alt="Submit" />
				</div>
			</div>
		</div>
	</div>



	<div id="popup2" class="overlay">
		<div class="popup">
			<h2>Wish List</h2>
			<a class="close" href="#">X</a>
			<div class="content" id="popup2id">

			</div>
		</div>
	</div>

	<div id="popup3" class="overlay">
		<div class="popup">
			<h2>Sign up</h2>
			<a class="close" href="#">X</a>
			<div class="content" id="popup3id">
				<div>
					<form >
						<p>User Name: <input id="user_name_sign" type="text" name="user_name_sign"   /></p>
						<p>Password: <input id ="password_sign" type="text" name="password_sign"  /></p>
						<p>Email: <input id ="email_sign" type="text" name="email_sign"  /></p>
						<hr />
					</form>
					<input id="signUpBtn" type="submit" value="Submit" alt="Submit" />
				</div>
			</div>
		</div>
	</div>



</body>

<script>
    function setCookie(c_name,value,expiredays) {
        var exdate=new Date();
        exdate.setDate(exdate.getDate()+expiredays);
        document.cookie = c_name+ "=" +escape(value)+
            ((expiredays==null) ? "" : ";expires="+exdate.toGMTString())
    }

    function getCookie(c_name) {
        if (document.cookie.length>0)
        {
            c_start=document.cookie.indexOf(c_name + "=");
            if (c_start!=-1)
            {
                c_start=c_start + c_name.length+1;
                c_end=document.cookie.indexOf(";",c_start);
                if (c_end==-1) c_end=document.cookie.length;
                return unescape(document.cookie.substring(c_start,c_end))
            }
        }
        return ""
    }


    function addToWishList(id){
        //alert(id);
		var comment = $('#'+id+'').val();
		//alert(comment);
        var cookie = getCookie("userData");
        var cookieJson = JSON.parse(cookie);
        var userName = cookieJson.user_name;

        //"bookId":81,"comment":"this is comment","userID":10 }'

        var data2 = {
            userName: userName,
            bookId: id,
            comment:comment,

        };
        var host = "http://52.78.70.14:8080/addToWishList/";

        $.ajax({
            type: "PUT",
            url: host,
            contentType: "application/json",
            data: JSON.stringify(data2),
            success: function (data) {
                //alert("this is success");
                //alert(data);
                if(data == "ok"){
                    alert("The item is added to WishList");
                    location.reload();
                }
            }
        });
	}



	function deletItem(favourite_item_id){
		//alert(favourite_item_id);

        var data2 = {
            itemID: favourite_item_id
        };
        var host = "http://52.78.70.14:8080/deleteItem/";

        $.ajax({
            type: "PUT",
            url: host,
            contentType: "application/json",
            data: JSON.stringify(data2),
            success: function (data) {
                //alert("this is success");
                //alert(data);
                if(data == "ok"){
                   alert("The item is deleted");
                    location.href='http://52.78.70.14:8080';
                }
            }
        });

	}


	function editComment(id){
        var comment = $('#'+id+'AA').val();
        //alert(comment);

        var data2 = {
            itemID: id,
            comment:comment
        };
        var host = "http://52.78.70.14:8080/editItem/";

        $.ajax({
            type: "PUT",
            url: host,
            contentType: "application/json",
            data: JSON.stringify(data2),
            success: function (data) {
                //alert("this is success");
                //alert(data);
                if(data == "ok"){
                    alert("the Comment is editted.");
                    location.href='http://52.78.70.14:8080';
                }
            }
        });
	}
</script>






<script>




    $(document).ready(function(){
        $(".listItemDiv").hide();
        $(".listItemDiv2").hide();

        loadWishList();

        function loadWishList(){
            var cookie = getCookie("userData");


            if(cookie.length>5){
                var cookieJson = JSON.parse(cookie);
                var userName = cookieJson.user_name;

                var data2 = {
                    userName: userName
                };


                var host = "http://52.78.70.14:8080/getWishListItem/";

                $.ajax({
                    type: "PUT",
                    url: host,
                    contentType: "application/json",
                    data: JSON.stringify(data2),
                    success: function (data) {
                       // alert("this is success");
                        //alert(data);
                        loadWishListToPopUP(JSON.parse(data));
                    }
                });


            }

		}

		function loadWishListToPopUP(jsonArray) {
            var container = $("#popup2id");
            container.html("");
            //var jsonArray = json.post;
            //console.log(data);
            jsonArray.forEach(function (item, index) {
                //alert(JSON.stringify(jsonArray));
                var newPostView = $(".listItemDiv2").clone();
                newPostView.find("#book_image").attr('src', jsonArray[index].imageLinks);
                newPostView.find("#book_title").text(jsonArray[index].title);
                newPostView.find("#book_authors").text(jsonArray[index].authors);
                newPostView.find("#book_language").text(jsonArray[index].language);
                newPostView.find("#book_pageCount").text(jsonArray[index].pageCount);
                newPostView.find("#book_category").text(jsonArray[index].category);
                newPostView.find("#book_id_hidden").val(jsonArray[index].book_ori_id);
                var cookie = getCookie("userData");
                newPostView.find("#delBtn").attr('onClick', 'deletItem("' + jsonArray[index].favourite_item_id + '");');
                newPostView.find("#editBtn").attr('onClick', 'editComment("' + jsonArray[index].favourite_item_id + '");');
                //<button id="editBtn" class="pure-button">Edit</button>
                //    <button id="delBtn" class="pure-button">Delete</button>
                newPostView.find("#comment_id").val(jsonArray[index].comment);
                newPostView.find("#comment_id").attr('id', jsonArray[index].favourite_item_id+"AA");

                //comment_id
                //$(this).attr('id',   this.id + '_' + new_id);
                newPostView.show();
                container.append(newPostView);
                console.log("appended: " + newPostView);
            });
        }




        window.loadBookSearch = function(json){
            //alert("this is also called");
            var container = $(".show_item_div");
            container.html("");
            //var jsonArray = json.post;
            //console.log(data);
            //jsonArray.forEach(function(item, index){
            //alert(JSON.stringify(jsonArray));
            var newPostView = $(".listItemDiv").clone();
            newPostView.find("#book_image").attr('src',json.imageLinks );
            newPostView.find("#book_title").text(json.title);
            newPostView.find("#book_authors").text(json.authors);
            newPostView.find("#book_language").text(json.language);
            newPostView.find("#book_pageCount").text(json.pageCount);
            newPostView.find("#book_category").text(json.category);
            newPostView.find("#book_id_hidden").val(json.book_ori_id);
            var cookie = getCookie("userData");
            newPostView.find("#add_btn").attr('onClick', 'addToWishList("'+json.book_id+'");');
            if(cookie.length<4){
                alert(cookie);
                newPostView.find("#add_btn").hide();
            }
            newPostView.find("#comment_id").attr('id',json.book_id);
            //comment_id
            //$(this).attr('id',   this.id + '_' + new_id);
            newPostView.show();
            container.append(newPostView);
            console.log("appended: " + newPostView);
            //});
        };
		function loadTypeBook(json){
            var container = $(".show_item_div");
            container.html("");
            var jsonArray = JSON.parse(json);
            //console.log(data);
            jsonArray.forEach(function(item, index) {
                //alert(JSON.stringify(jsonArray));
                var newPostView = $(".listItemDiv").clone();
                newPostView.find("#book_image").attr('src', jsonArray[index].imageLinks);
                newPostView.find("#book_title").text(jsonArray[index].title);
                newPostView.find("#book_authors").text(jsonArray[index].authors);
                newPostView.find("#book_language").text(jsonArray[index].language);
                newPostView.find("#book_pageCount").text(jsonArray[index].pageCount);
                newPostView.find("#book_category").text(jsonArray[index].category);
                newPostView.find("#book_id_hidden").val(jsonArray[index].book_ori_id);
                var cookie = getCookie("userData");
                newPostView.find("#add_btn").attr('onClick', 'addToWishList("' + jsonArray[index].book_id + '");');
                if (cookie.length < 4) {
                   // alert(cookie);
                    newPostView.find("#add_btn").hide();
                }
                newPostView.find("#comment_id").attr('id', jsonArray[index].book_id);
                //comment_id
                //$(this).attr('id',   this.id + '_' + new_id);
                newPostView.show();
                container.append(newPostView);
                console.log("appended: " + newPostView);
            });
		}

        $("#loginBtn").click(function () {


            //alert("updataData is called");
            var userNameThing = $("#user_name").val();
            var passwordThing = $("#password").val();
            var data2 = {
                user_name: userNameThing,
                password: passwordThing,
            };
            var host = "http://52.78.70.14:8080/login/";

            $.ajax({
                type: "PUT",
                url: host,
                contentType: "application/json",
                data: JSON.stringify(data2),
                success: function (data) {
                   // alert("this is success");
                    //alert(data);
                    if(data == "ok"){
                        setCookie("userData",JSON.stringify(data2),null);
                        var cookie = getCookie("userData");
                        //alert(cookie);
                        location.href='http://52.78.70.14:8080';
                    }else{
                        alert("You need to verify your account");
					}
                }
            });
        });




//        <div id="love_id">
//            <label>Love</label>
//            <hr class="small--hide hr--border">
//            </div>
//            </li>
//            <li>
//            <div id ="ju_id">
//            <label>Juvenile Fiction</label>
//        <hr class="small--hide hr--border">
//            </div>
//            </li>
//            <li>
//            <div id="horror_id">
//            <label>Horror</label>
//            <hr class="small--hide hr--border">
//            </div>
        $("#love_id").click(function () {
            var data2 = {
                type: "Love"
            };
            var host = 'http://52.78.70.14:8080/getBookList/{"type":"Love"}';

            $.ajax({
                type: "GET",
                url: host,
                contentType: "application/json",
                success: function (data) {
                    //alert("this is success");
                    //alert(data);
                    loadTypeBook(data)
                }
            });
        });

        $("#ju_id").click(function () {
            var data2 = {
                type: "Juvenile Fiction"
            };
            var host = 'http://52.78.70.14:8080/getBookList/{"type":"Juvenile Fiction"}';

            $.ajax({
                type: "GET",
                url: host,
                contentType: "application/json",
                success: function (data) {
                   // alert("this is success");
                   // alert(data);
                    loadTypeBook(data)
                }
            });
        });

        $("#horror_id").click(function () {
            var data2 = {
                type: "Horror"
            };
            var host = 'http://52.78.70.14:8080/getBookList/{"type":"Horror"}';

            $.ajax({
                type: "GET",
                url: host,
                contentType: "application/json",
                success: function (data) {
                   // alert("this is success");
                   // alert(data);
                    loadTypeBook(data)
                }
            });
        });







        $("#signUpBtn").click(function () {
           // <p>User Name: <input id="user_name_sign" type="text" name="user_name_sign"   /></p>
           //     <p>Password: <input id ="password_sign" type="text" name="password_sign"  /></p>
           //     <p>Email: <input id ="email_sign" type="text" name="email_sign"  /></p>
            //alert("updataData is called");
            var userNameThing = $("#user_name_sign").val();
            var passwordThing = $("#password_sign").val();
            var emailThing = $("#email_sign").val();
            var data2 = {
                user_name: userNameThing,
                password: passwordThing,
				email:emailThing
            };
            var host = "http://52.78.70.14:8080/register/";

            $.ajax({
                type: "PUT",
                url: host,
                contentType: "application/json",
                data: JSON.stringify(data2),
                success: function (data) {
                   // alert("this is success");
                   // alert(data);
                    if(data == "successful, check the email to verify the account"){
                        location.href='http://52.78.70.14:8080';
                    }
                }
            });
        });

    });


</script>








<script>
    var myApp02 = angular.module("myApp02", []);
    myApp02.controller("HttpPutController02", function ($scope, $http) {

        $scope.searchBook = function () {
            //alert("updataData is called");
            //alert($http);
            var data = {
                text: $scope.userInput
            };
            var host = "http://52.78.70.14:8080/searchBook02/"+JSON.stringify(data);
			//alert(host);
            $http.get(host)
                .then(
                    function mySucces(response){
                        //alert("this is success");
                        //alert(JSON.stringify(response.data));
                        loadBookSearch(response.data);
                    },
                    function myError(response){
                        //alert("this is error");
                        //alert(response.data);
                    }
                );

        };
    });




    var myApp3 = angular.module("myApp3", []);
    myApp3.controller("HttpPutController3", function ($scope, $http) {

        $scope.UpdateData3 = function () {
            //alert("updataData is called");
            //alert($http);
            var data = {
                user_name: $scope.user_name,
                password: $scope.password,
            };
            var host = "http://52.78.70.14:8080/login/";

            $http.put(host, data)
                .then(
                    function mySucces(response){
                        //alert("this is success");
                        //alert(response.data);
                        if(response.data == "ok"){
                            setCookie("userData",JSON.stringify(data),null);
                            var cookie = getCookie("userData");
                           // alert(cookie);
                        }
                    },
                    function myError(response){
                        //alert("this is error");
                        //alert(response.data);
                    }
                );

        };
    });

</script>

<div class="listItemDiv">
	<img id="book_image" src="http://books.google.com/books/content?id=n52zZbTKwKgC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"/><br/>
	<div><label>Title :</label><h2 id = "book_title">Mary age</h2></div>
	<div><label>Author :</label><h2 id = "book_authors">Mary</h2></div>
	<div><label>Language :</label><h2 id ="book_language">English</h2></div>
	<div><label>Page Count :</label><h2 id ="book_pageCount">150</h2></div>
	<div><label>Category :</label><h2 id ="book_category">Love</h2></div>
	<input type="hidden" id="book_id_hidden"/>
	<input type="text" id="comment_id"/>
	<button id="add_btn" class="pure-button">Add To List</button>
</div>


<div class="listItemDiv2">
	<img id="book_image" src="http://books.google.com/books/content?id=n52zZbTKwKgC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"/><br/>
	<div><label>Title :</label><h2 id = "book_title">Mary age</h2></div>
	<div><label>Author :</label><h2 id = "book_authors">Mary</h2></div>
	<div><label>Language :</label><h2 id ="book_language">English</h2></div>
	<div><label>Page Count :</label><h2 id ="book_pageCount">150</h2></div>
	<div><label>Category :</label><h2 id ="book_category">Love</h2></div>
	<input type="hidden" id="book_id_hidden"/>
	<input type="text" id="comment_id"/>
	<button id="editBtn" class="pure-button">Edit</button>
	<button id="delBtn" class="pure-button">Delete</button>
</div>
</html>
